version: '3'
services:
  mongodb:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - mean-network

  backend:
    image: faizann16/mean-backend
    container_name: backend
    restart: always
    depends_on:
      - mongodb
    environment:
      - DB_URL=mongodb://mongo:27017/tutorialsDB
    ports:
      - "8080:8080"
    networks:
      - mean-network

  frontend:
    image: faizann16/mean-frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"
    networks:
      - mean-network

networks:
  mean-network:
    driver: bridge
